.dropDown{
  background-color: red;
  padding: 5px;
  width: 200px;
  .openDrop{
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    border: 1px solid lightgray;

    .dIcon{
      transition: 0.2s;
    }
  }

  .dropContainer{
    visibility: hidden;
    position: relative;
    margin-top: 10px;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;


    .searchBar{
      border-bottom: 1px solid lightgray;
      padding: 5px;
      width: 100%;
      background-color: white;
      font-size: 12px;

    }

    .filterdDrop{
      
      .filterElement{
        padding: 5px;
        
        &:hover{
          background-color: gray;
        }
      }
    }
  }
}