@use '/src/styles/constants/colors';

.dropDown{
  background-color: colors.$GRAYE;
  padding: 5px;
  width: 200px;
  .openDrop{
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: colors.$WHITE;
    border: 1px solid colors.$GRAYD;
    border-radius: 3px;

    .dIcon{
      transition: 0.2s;
    }
  }

  .dropContainer{
    position: relative;
    margin-top: 10px;
    border: 1px solid colors.$GRAYD;
    display: flex;
    flex-direction: column;

    .searchBar{
      border-bottom: 1px solid colors.$GRAYD;
      padding: 5px;
      width: 100%;
      background-color: white;
      font-size: 12px;

    }

    .filterElement{
      padding: 5px; 
      background-color: colors.$WHITE;

      button{
        color: colors.$GRAY6;
      }

      &:hover{
        background-color: colors.$GRAYE;
      }
    }
  }
}

.rotated{
  transform: rotate(180deg)
}
