.container{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    padding: 10px;
    width: 240px;
}
.ininput{
    font-size: 15px;
    padding: 5px;
    width: 200px;
    margin: 5px 0 5px 0;
    flex-grow: 1;
}
.hid{
    margin-left: 5px;
    width: 20px;
    cursor: pointer;
}
.checking{
    margin-left: 5px;
    width: 20px;
}
.mailbox{
    display: flex;
    align-items: center;
}