@use '/src/styles/constants/colors';

.slider{
  display: block;
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;

  .sliderPercent{
    display: flex;
    border: 1px solid colors.$GRAYD;
    border-radius: 5px;
    justify-content: flex-end;
    padding: 10px;
    margin-bottom: 10px;

    .percentItem{
      margin-left: 10px;
      font-weight: bold;
    }
  }
  .slideBar{
    width: calc(100% - 10px);

    &::-webkit-slider-runnable-track{
      cursor: pointer;    
      height: 5px;
      border-radius: 10px;
      background: linear-gradient(to right,colors.$TEAL var(--val), colors.$GRAYD var(--val));
    }
    
    &::-webkit-slider-thumb{
      cursor: pointer;
      width: 15px;
      height: 15px;
      background: colors.$TEAL;
      border-radius: 10px;
      outline: 4px solid colors.$GRAYE;
      transform: translateY(-5px);
      -webkit-appearance: none;
    }
  }
  
  .btnContainer{
    display: flex;
    width:100%;
    justify-content: space-between;
    margin-top: 15px;

    .percentBtn{
      border-radius: 10px;
      background-color: colors.$GRAYD;
      color: colors.$WHITE;
      border: none;
      font-size: 5px;
      padding: 5px 0;
      width: 30px;
      &:hover{
          background-color: colors.$TEAL;
      }
    }
  }
}